/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/*CSS variables*/
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* Navigation bar:logo and Image*/
#logo{
    margin: 34px 45px;
}

#logo img{
    height:62px;
    margin: -25px -8px;
}
/* navigation bar : list styling*/
#navbar ul{
    display: flex;
    font-family: 'Belanosima', sans-serif;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(255, 252, 252);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/*Home Section */
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 642px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    background : url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    
    filter: blur(0.5px);
}

#home h1{
    color: #fefbfb;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Belanosima', sans-serif;
}

#home p{
    color: rgb(255, 251, 251);
    text-align: center;
    font-family: 'Bree Serif',serif ;
    font-size: 20px;
}

/*services section*/

#services{
    margin: 34px;
    display:flex;
    
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif',serif ;
    font-size: 0.8rem;
    text-align: justify;
}

/*about section*/
  #about {
    padding: 50px 0;
    background: #f5f5f7;
    height: 100%;
    width: 100%;
  }
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items:center;
  }
  #about h2 {
    font-size: 2.3rem;
    font-family: 'Belanosima', sans-serif;
  }
  #about p {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Bree Serif',serif ;
    text-align: justify;
  }
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
    font-family: 'Belanosima', sans-serif;
  }
  .about-img {
    flex: 1 1 38px;
    padding: 30px;
    /*transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards; */
  }
  
  .about-text {
    flex: 1 1 193px;
    padding: 50px 10px 30px 150px;
    margin: auto;
    /*transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards; */
  }
  
  .about-img img {
    display: block;
    height: 558px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
    
     
  }
  /*menu */
  
  
  
  .food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #020202;
    font-family: 'Belanosima', sans-serif;
    padding-top: 60px;
  }
  .food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 40px 30px 40px;
    font-family: 'Belanosima', sans-serif;
  }
  .food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    transition: 0.4s;
    padding: 20px 30px;
    border-radius: 10px;
  }
  .food-menu-item:hover {
    box-shadow: 1px 1px 10px grey;
  }
  .food-menu-item:focus {
    border: 1px solid rgb(72, 72, 72);
  }
  .food-description {
    margin: auto 1.5rem;
  }
  .font-title {
    font-size: 2.8rem;
    font-weight: 400;
    color: #444;
  }
  .food-description p {
    font-size: 0.9rem;
    color: #050404;
    font-weight: 500;
    font-family: 'Bree Serif',serif ;
  }
  .food-description .food-price {
    color: #117964;
    font-weight: 700;
  }
  

/*contact section */



footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /*contact*?
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 9px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    font-family: 'Belanosima', sans-serif;
   
  }
  #contact{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 24px ;
  }
/*Utility class*/
.h-primary{
    font-family: 'Belanosima', sans-serif;
    font-size: 2.8rem;
    padding: 12px ;
}

.h-secondary{
    font-family: 'Belanosima', sans-serif;
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #ce0d0d;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
  text-align: center;
  
}


